doctype html
html
    head
        style
            include ./css/index.css
    body
        main
            div.container
                div
                    h1 Email Confirmation
                    h2 Hello!
                    p Please confirm your email by clicking on the following link
                    a(href=`${url}`) Click here